@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.secondPage {
  width: 100vw;
  height: 100vh;

  background-color: #493737;

  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  height: 40rem;
  margin-left: 10rem;
  
}

.esquerdo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.direito {
  width: 50vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Title {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 3rem;
  text-align: start;
  width: 48rem;
  margin-bottom: 1rem;
}

.sobre {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  margin: 0.5rem;
}


/* Media query*/


@media (max-width: 811px) {
  
 
  .direito {
    margin-top: 8rem;
  }

  .avatar {
    margin-right: 15rem;
  }

}

@media (max-width: 428.1px) {
  .avatar {
    height: 30rem;
    margin-right: 10rem;
    margin-bottom: 4rem;
  }

  .sobre {
    height: 14rem;
    font-size: 0.95rem;
    margin: 0.5;
  }

  .Title {
    font-size: 1.8rem;
  }
}

@media (max-width: 376px) {

  .avatar {
    height: 25rem;
  }
  .sobre {
    font-size: .85rem;
    margin: 0.5rem;
  }

}

@media (max-width: 385px) {

  .sobre {
    font-size: 0.85rem;
  }
}






























