

.Navbar {
  border-bottom: solid 1px rgba(255, 255, 255, 0.452);
  backdrop-filter: blur(2px) ;
  /* -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(100%); */
  background: rgba(196, 196, 196, 0.11);
  position: fixed;
  width: 100vw;
  height: 5.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.Logo {
  height: 6rem;
  cursor: pointer;
}

.Refs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Refs li{
  margin: 0 2rem;
  list-style: none;
}
.Refs li a {
  text-decoration: none;
  color: white;
  font-size: 18px;

}

.Refs li a:hover {
  color: #004fb0;
  transition: 0.4s;
}

/*Mediaquery*/

@media (max-width: 480px) {

  .Navbar {

    width: 29.8rem;
  }

  .Refs li {
    margin: 0 0.9rem;
  }

}

@media (max-width: 429px) {
  .Navbar {
    width: 27rem;
  }

  .Refs li {
    margin: 0 0.5;
  }

  .Refs  li a {
    font-size: 15px;
  }
}

@media (max-width: 415px) {

  .Navbar {
    width: 25.8rem;
  }  

  .Refs li {
    margin: 0 0.5rem;
  }
  .Refs li a {
    font-size: 13px;
  }

}

@media (max-width: 376px) {

  .Navbar {
    width: 23.5rem;
  }  

  .Logo {
    width: 70px;
    height: 75px;
  }
  .Refs li {
    margin: 0 0.5rem;
  }
  .Refs li a {
    font-size: 14px;
  }

}

@media (max-width: 360px) {

  .Navbar {
    width: 23rem;
  }  

  .Refs li {
    margin: 0 0.5rem;
  }
  .Refs li a {
    font-size: 14px;
  }

}

@media (max-width: 321px) {

  .Navbar {
    width: 20rem;
  }  

  .Refs li {
    margin: 0 0.4rem;
  }

  .Logo {
    width: 60px;
    height: 65px;
  }
  .Refs li a {
    font-size: 12px;
  }

}

