


.containerFour {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #493737;
}

.containergrid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}


.icons {
  height: 5rem;
  border-radius: 100%;
  border: 1px solid #472A2C;
}
